/* General */

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../img/ps1.png");
  animation: slide 20s linear infinite;
}

@keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -400px 407px; }
}

button {
  border: none;
  width: 17rem;
  height: 40px;
  border-radius: 20px;
  margin: 0px 20px 20px;
}


input {
  margin: 20px;
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid transparent;
}

input:focus{
  border-bottom: 2px solid rgb(3, 149, 185);
}

input::placeholder {
  color: rgb(157, 183, 187)
}

/* Form */

.attacher {
  margin: 10vw;
  display : flex;
  justify-content: center;
}



.form {
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,.5), 0 2px 4px rgba(0,0,0,.5);
  background: #ebf0f3;
  margin: 1.5rem;
  display: inline-block;
}
.form:nth-child(1) {
  max-height: 205px;
}

.form input {
  margin: 20px;
  display: block;
  width: 250px;
  height: 30px;
}

.loginButton{
  background: none;
  border-color: rgb(3, 149, 185);
  border-style: solid;
  border-width: 3px;
  color: rgb(3, 149, 185);
  font-weight: 700;
}

.registerButton {
  background: rgb(3, 149, 185);
  color: white;
  font-weight: 700;
}

.loginButton:hover {
  box-shadow: inset 17rem 1px rgba(3, 149, 185, 0.212);
}
.registerButton:hover {
  box-shadow: inset 17rem 1px rgba(1, 53, 66, 0.308);
}

/* Home */

.user {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,.5), 0 2px 4px rgba(0,0,0,.5);
  background: #ebf0f3;
  margin: 1.5rem;
  min-width: 200px;
}

h1 {
  margin: 20px;
  margin-top: 0px;
  text-align: center;
}

.image {
  width: 150px;
  min-width: 0px;
  height: 150px;
  margin: 20px auto;

  display: block
}

/* .image:hover {
  width: 200px;
  height: 200px;
  margin: -5px;
  z-index: 1;
} */

.user button{
  width: 100px;
  margin: 10px auto;
  margin-top: 0;
  margin-bottom: 20px;
}

.edit {
  margin: 0px 1.5rem;
  max-width: 19.4em;
  display: none;
}

@media (max-width:768px) {
  .attacher {
    flex-direction: column;
  }

  .user button{
    margin-top: 0;
    margin-bottom: 20px;
  }
}

input[type='file'] {
  display: none;
}